<% if the_object.errors.any? %>
  <div class="alert alert-error">
    <h5>有错误，请修改</h5>
    <ul>
      <% the_object.errors.full_messages.each do |the_error| %>
        <li><%= the_error %></li>
      <% end %>
    </ul>
  </div>
<% end %>